@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  overflow-x: hidden !important;
}

.work {
  font-family: "Work Sans", sans-serif;
}

nav {
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(90deg, #78aac5 0%, #f48487 100%);
}

.link-btn {
  border-radius: 9px;
  background: linear-gradient(
    141deg,
    #78aac5 -1.94%,
    #f3808e 31.11%,
    #fcb236 72.98%,
    #f7eea6 107.09%
  );
}

.btn_1 {
  background: linear-gradient(
    145deg,
    #78aac5 -0.94%,
    #f3808e 33.51%,
    #fcb236 72.02%,
    #f7eea6 100%
  );
  box-shadow: 0px 23px 50px 0px rgba(250, 165, 77, 0.3);
}

/* GRADIENTS */
.grad1 {
  background: linear-gradient(
    133deg,
    #78aac5 32.04%,
    #f3808e 53.19%,
    #fcb236 79.99%,
    #f7eea6 101.83%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Plus Jakarta Sans";
  font-weight: 800;
}

.text_grad1 {
  background: var(
    --Linear,
    linear-gradient(
      154deg,
      #78aac5 12.18%,
      #f3808e 34.87%,
      #fcb236 63.61%,
      #f7eea6 87.03%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_grad2 {
  background: linear-gradient(
    129deg,
    #78aac5 21.83%,
    #f3808e 47.14%,
    #fcb236 70.48%,
    #f7eea6 91.23%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_grad3 {
  background: linear-gradient(
    154deg,
    #78aac5 12.18%,
    #f3808e 34.87%,
    #fcb236 63.61%,
    #f7eea6 87.03%
  );
}

.text_grad4 {
  background: linear-gradient(
    127deg,
    #78aac5 27.15%,
    #f3808e 47.04%,
    #fcb236 72.24%,
    #f7eea6 92.77%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text_grad5 {
  border-radius: 32.737px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  background: linear-gradient(
    90deg,
    rgba(252, 178, 54, 0.8) 0%,
    rgba(243, 128, 142, 0.8) 100%
  );
}

.text_grad6 {
  background: var(
    --Linear,
    linear-gradient(
      154deg,
      #78aac5 12.18%,
      #f3808e 34.87%,
      #fcb236 63.61%,
      #f7eea6 87.03%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* SECTIONS */
.sec_1 {
  background: url("./assets/jv-sec1bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec2_minibg {
  background: url("./assets/Jv-img4.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec_4 {
  background: url("./assets/jv-sec4bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec4_minibg {
  background: linear-gradient(180deg, #f5eaea 0%, #ffe3d0 100%);
}

.sec_5 {
  background: url("./assets/jv-sec5bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec_6 {
  background: url("./assets/jv-sec6bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec7_minibg {
  background: linear-gradient(180deg, #f5eaea 0%, #ffe3d0 100%);
}

.sec_9 {
  background: url("./assets/jv-sec9bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec_11 {
  background: url("./assets/jv-sec11bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec11_minibg {
  background: linear-gradient(180deg, #f5eaea 0%, #ffe3d0 100%);
}

.sec_12 {
  background: url("./assets/jv-sec12bg.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.sec_13 {
  background: url("./assets/jv-sec13bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec_15 {
  background: url("./assets/jv-sec-15bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.sec15_minibg {
  border-radius: 16.667px;
  background: linear-gradient(
    151deg,
    #78aac5 12.21%,
    #f3808e 40.67%,
    #fcb236 76.73%,
    #f7eea6 106.11%
  );
}

.vid-test {
  background: url("./assets/vid.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding: 1rem;
  border-radius: 10px;
}

.vid-test iframe {
  width: 100%;
  height: 450px;
}

.border_line {
  border-color: rgba(255, 246, 246, 0.4);
}

.imagine {
  background: linear-gradient(
    90deg,
    rgba(252, 178, 54, 0.8) 0%,
    rgba(243, 128, 142, 0.8) 100%
  );
}

.comm {
  border-radius: 12.661px;
  background: linear-gradient(
    154deg,
    #78aac5 12.18%,
    #f3808e 34.87%,
    #fcb236 63.61%,
    #f7eea6 87.03%
  );
  backdrop-filter: blur(2.277001142501831px);
}

.oto {
  border-radius: 12.661px;
  background: linear-gradient(180deg, #78aac5 0%, #62879d 100%);
  backdrop-filter: blur(2.277001142501831px);
}

.swipe {
  border-radius: 12.754px;
  background: #78aac5;
  box-shadow: 0px 31.309px 66.615px 0px rgba(243, 128, 142, 0.6);
}

@keyframes bounce-smooth {
  0%,
  100% {
    transform: translateX(-50%) translateY(0); /* Center the element */
    left: 50%; /* Ensure it is centered horizontally */
  }
  50% {
    transform: translateX(-50%) translateY(-10px); /* Bounce effect */
    left: 50%;
  }
}

.animate-bounce-smooth {
  animation: bounce-smooth 1.5s ease-in-out infinite;
  position: absolute; /* Ensure the element is positioned relative to the container */
  left: 50%; /* Ensure it stays centered */
  transform: translateX(-50%); /* Initial centering */
}

@media (max-width: 421px) {
  .vid-test iframe {
    height: 250px;
  }
}
